.post-main
  .post-main__post-header
    .post-main__post-header--post-date
      = Date.current.strftime('%Y年 %m月 %d日 (%a)')
  .post-main__post-area
    = form_with(model: @diary, local: true) do |f|
      = f.text_area :text, class: "text-box"
      = f.fields_for :images do |i|
        = i.file_field :src, multiple: true, name: "images[src][]", class: "images"
      = f.submit "投稿する", class: "btn"